.regist-content11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.customer-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.customer-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-code-text {
    margin-bottom: 5px;
    font-weight: bold;
}

.customer-code-box {
    flex-grow: 1;
    padding: 10px;
    background-color: #BEE7FF;
    border: 2px solid #BEE7FF;
    border-radius: 10px;
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 20px;
    font-family: GmarketSansMedium;
    font-size: 17px;
}

.customer-list-box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-table1,
.customer-table2,
.customer-table3,
.customer-table4 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.customer-table1 th,
.customer-table1 td,
.customer-table2 th,
.customer-table2 td,
.customer-table3 th,
.customer-table3 td,
.customer-table4 th,
.customer-table4 td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 8px;
}

.customer-table1 th,
.customer-table2 th,
.customer-table3 th,
.customer-table4 th {
    background-color: #f0f0f0;
}

.customer-test1,
.customer-test2,
.customer-test3,
.customer-test4,
.customer-test5,
.customer-test6,
.customer-test7,
.customer-test9 {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.customer-regist-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.customer-regist-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0C2092;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.customer-regist-btn:hover {
    background-color: #007bff;
}